html, body, main {
  margin: auto;
}

main{
  display: inline-flex;
  float: center ;
  justify-content: center ;
}
canvas {
  display: inline-flexblock;
  float: center ;
  justify-content: center ;
}

